/*Боковое меню*/

.menu {
    position: absolute;
    height: 897px;
    width: 3%;
    background-color: #D0CBF0;
    align-items: center;
}

.menu img {
    margin-top: 40%;
    margin-left: 14%;
}

.buttons {
    width: 100%;
    height:83%;
    display: flex;
    flex-direction: column;
    margin-top: 40%;

}

.button {
    width: 100%;
    height: 6%;
}

.button img {
    margin-top: 30%;
    margin-bottom: 29%;
    margin-left: 30%;
}

.button:hover {
    border-left: 3px solid #6153CC;
    background-color: #ddd9f1;
}

.arrow {
    width: 100%;
    margin-top: 20%;
}

.arrow:hover {
    border-left: 3px solid #6153CC;
    background-color: #ddd9f1;
}

.arrow img {
    margin-left: 40%;
    margin-bottom: 35%;
}

/*Фильтр*/

.tabletitle {
    width: 90%;
    margin-left: 4%;
    margin-top: 1%;
    display: flex;
}

.filter {
    display: flex;
    flex-direction: row;
    margin-left: 85%;
}